.dropzone {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    color: #FFF;
    font-size: 36px;
    justify-content: center;
    align-items: center;
}

.is-dragover .dropzone {
    display: flex;
}